@import "./variables.less";

body, html {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: @font-family;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.heading {
  font-size: 3rem;
  margin: 50px 0;
}